<div class='container'>
  <h1>Главная страница</h1>
  <div>
    <form action='/' method='post'>
      <div class='mdl-textfield mdl-js-textfield'>
        <label class='mdl-textfield__label' for='search'>
        </label>
        <input
          class='mdl-textfield__input'
          type='text'
          name='search'
          placeholder='найти ментора'
        />

      </div>
      <button
        class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored'
      >Поиск</button>
    </form>

  </div>

  <div>
    <ul>
      {{#each mentors}}
        <li>mentor 1 {{this.fio}} </li>

      {{/each}}
    </ul>
  </div>
</div>