<script defer src="/js/search.js"></script>
<div class='container'>
  <h1>Главная страница</h1>
  <div class="search-container">
    <form action='/' method='post'>
      <div class='mdl-textfield mdl-js-textfield'>
        <label class='mdl-textfield__label' for='search'>
        </label>
        <input
        id="search"
          class='mdl-textfield__input'
          type='text'
          name='search'
          placeholder='найти ментора'
        />

      </div>
    </form>

  </div>

  <div>
    <ul class ="search-list">
      {{#each mentor}}
      <li>

        <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <img src="{{this.img}}">
              <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">{{this.name}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {{this.body}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
          <a href="user/profile/{{this.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
          </div>
        </div>
      </li>

      {{/each}}
    </ul>
  </div>
</div>




