<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class='navbar'>
      <li><a href='/'> index </a> </li>
      <li><a href='/user/login'> login </a></li>
      <li><a href='/user/register'> register </a></li>
      <li><a href='/user/profile/:id'>profile </a></li>
    </ul>

    {{{body}}}
  </body>
</html>