<form action="login/{{user.id}}" method="post">

  <div class='mdl-textfield mdl-js-textfield'>
    <label class='mdl-textfield__label' for='exampleInputEmail1'>Email</label>
    <input
      class='mdl-textfield__input'
      type='email'
      aria-describedby='emailHelp'
      name='login'
    />
    <div id='emailHelp'></div>
  </div>
  <div class='mdl-textfield mdl-js-textfield'>
    <label class='mdl-textfield__label'>Password</label>
    <input class='mdl-textfield__input' type='password' name='password' />
  </div>
  
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">login</button>
</form>