<form action='/user/profile/{{userid}}' method='put'>
  <div>
    <input type='text' placeholder='фото' />
  </div>
  <div>
    <input type='text' placeholder='ФИО' />
  </div>
  <div>
    <input type='text' placeholder='О себе' />
  </div>
  <div>
    <input type='text' placeholder='Прайс' />
  </div>
  <div>
    <input type='text' placeholder='опыт работы' />
  </div>
  <div>
    <input type='text' placeholder='соц сети' />
  </div>
  <div>
    <input type='text' placeholder='теги' />
  </div>
  <button type='submit'>редактировать</button>
</form>