
<form action='/user/profile/{{userid}}' method='put'>
{{#if user.flag}}

  <div>
    <input type='text' placeholder='фото' name="img"/>
  </div>
  <div>
    <input type='text' placeholder='ФИО' name="name"/>
  </div>
  <div>
    <input type='text' placeholder='О себе' name="body"/>
  </div>
  <div>
    <input type='text' placeholder='Прайс' name="price"/>
  </div>
  <div>
    <input type='text' placeholder='опыт работы' name="title"/>
  </div>
  <div>
    <input type='text' placeholder='соц сети' name="link"/>
  </div>
  
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
  <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
  <span class="mdl-checkbox__label">Checkbox</span>
</label>
</label>

  {{/if}} 

  <div>
    <input type='text' placeholder='ФИО' name="name"/>
  </div>
  <div>
    <input type='text' placeholder='О себе' name="body"/>
    </div>
  <div>
    <input type='text' placeholder='соц сети' name="link"/>
  </div>
  <button type='submit'>Сохранить</button>

</form>

