
<form action='/profil/{{user.id}}' method='post'>
{{#if user.dataValues.flag}}
{{user.dataValues.flag}}
  <div>
    <input type='text' placeholder='фото' name="img"/>
  </div>
  <div>
    <input type='text' placeholder='ФИО' name="name"/>
  </div>
  <div>
    <input type='text' placeholder='О себе' name="body"/>
  </div>
  <div>
    <input type='text' placeholder='Прайс' name="price"/>
  </div>
  <div>
    <input type='text' placeholder='опыт работы' name="title"/>
  </div>
  <div>
    <input type='text' placeholder='соц сети' name="link"/>
  </div>
 
  {{else}} 

  <div>
    <input type='text' placeholder='ФИО' name="name"/>
  </div>
  <div>
    <input type='text' placeholder='О себе' name="body"/>
    </div>
  <div>
    <input type='text' placeholder='соц сети' name="link"/>
  </div>
{{/if}}
  <button type='submit'>Сохранить</button>
</form>

