.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger {
  position: relative;
  top: 50px;
}

.search-list li.hide {
  display: none;
}
.search-list {
  list-style: none;
}

.mdl-layout__drawer-button {
  display: flex !important;
  justify-content: flex !important;
  align-items: start !important;
}
