.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  padding: 10px;
}

.search-list li.hide {
  display: none;
}
.search-list {
  list-style: none;
}
